.header {
    border-bottom: 1px solid #e7e9fc;
  }
  
  .header-container {
    align-items: center;
  }
  
  .nav {

    align-items: center;
  }
  
  .logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(#e5c6bc0);
  }
  
  .nav-list {

    gap: 40px;
  }
  
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

  }
  
  .nav-link:hover, .nav-link:focus {
    color: var(--ocean);
  }
  
  .contacts {
    font-style: normal;

  }
  
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
  
  .contact-link:hover, .contact-link:focus {
    color: var(--ocean);
  }
  